---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>


  </header>

<article>
  <div class="row">
    <div class="col-sm-2"> 
      {% if page.profile %}
        <div class="profile">
          {% if page.profile.image %}
            {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
            {% include figure.liquid loading="eager" path=profile_image_path class="img-fluid z-depth-1 rounded" %}
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="col-sm-10">
      <div class="clearfix">{{ content }}</div>
  

  <hr> <h4>Selected R&Rs and Publications</h4>
  <div class="publications">
    {% bibliography -f working_papers -q @*[selected=true]* %}
    {% bibliography -f papers -q @*[selected=true]* %}
  </div>

    
    </div>

      {% if page.social %}
        <div class="social">
          <div class="contact-icons">{% social_links %}</div>
        </div>
      {% endif %}

</article>
